/bin
.cache
.target
.class
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
.DS_Store
.worksheet/bin/
.settings/org/org.eclipse.jdt.core.prefs
data/.DS_Store
